MY_RULES_WORKFLOW_URL=http://localhost:7071/api/MyRulesWorkflow/triggers/When_a_HTTP_request_is_received/invoke?api-version=2022-05-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=XXXXX-REPLACE-ME-XXXXX