
# Azure Functions artifacts
bin
obj
appsettings.json
local.settings.json
__blobstorage__
.debug
__queuestorage__
__azurite_db*__.json
.azurite

# Added folders and file patterns
workflow-designtime/

# Build outputs
lib
*.zip
